.message-container {
  /* margin: 0; */
  /* min-height: 100vh; */
  /* display: grid; */
  /* place-content: center; */
  /* gap: 20%; */
  font-size: 20px;
  /* align-items: center; */
  scroll-behavior: smooth;
  height: 80vh;
  border: 1px solid lightgray;
  overflow-y: auto;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  /* position: fixed; */
  width: 100vw;
}

.reply {
  justify-content: center;
  --r: 25px;
  /* the radius */
  --t: 30px;
  /* the size of the tail */

  /* max-width: 300px; */
  /* padding: calc(2*var(--r)/3); */
  /* background: linear-gradient(135deg, #FE6D00, #1384C5) border-box; */
  color: #fff;
  width: fit-content;
  margin: 5px;
  padding: 10px;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  max-height: 20px;
  width: 70vw;
  place-self: start;
  position: relative;
}

.rightr{
  background: linear-gradient(to top, #245edc, #6e7df0);
}
.leftr{
  background: linear-gradient(to bottom, #ddf9fc, #f7fbff);
  color: #0d2354;
}

.replyHolder{
  position: relative;
}